<html>
<head></head>


<body>

  <h3>Enter New Trip</h3>

  <form action='/admin/trips' method='post'>
    <input type="text" name="title" placeholder="Enter Trip Title"/>
    <input type="text" name="imageURL" placeholder="Enter Image URL" />
    <input type="text" name="dateOfDeparture" placeholder="Enter Date of Departure"/>
    <input type="text" name="dateOfReturn" placeholder="Enter Date Of Return"/>
    <input type="submit" />
  </form>

</body>

</html>